/*------------------------------
        Media Query
------------------------------*/

@media all and (max-width: 1450px) {
	.container {
		padding: 0 30px;
	}
}

@media all and (max-width: 1200px) {
	.centered-elements h1 {
		font-size: 40px;
	}

	.quote-section p {
		font-size: 20px;
	}

	.centered-buttons {
		transform: scale(0.85);
	}

	.activities-container {
		width: 39%;
		margin-bottom: 50px;
	}

	.activities-container:nth-child(3),
	.activities-container:nth-child(4) {
		margin-bottom: 0;
	}

	.gallery-section div {
		flex-basis: 34%;
	}
}

@media all and (max-width: 991px) {
	.nav-menu a {
		margin: auto 25px;
	}

	.about-us {
		flex-direction: column;
	}

	.about-container h2 {
		font-size: 30px;
		margin: 20px auto;
		width: 80%;

	}

	.about-container h2::after {
		--text-width: 82px;
	}

	.about-container p {
		margin: 0 auto 20px;
		font-size: 16px;
	}

	.about-us img {
		margin-right: 0;
		margin-top: 20px;
	}

	.quote-section p {
		
		font-size: 17px;
		text-align: center;

	}

	.contact-us {
		margin: 0;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 60%;
	}

	.gm-style-pbt {
		top: 5%;
		text-align: center;
		padding-right: 0;
	}

}


@media all and (max-width: 768px) {

	.container {
		padding: 0 10px;
	}

	.main-nav img {
		margin-left: 10px;
	}

	.about-container {
		margin: 0 20px;
	}

	.about-us img {
		width: 90%;
	}

	.quote-section p {
		margin: 0 30px;
	}

	.centered-elements h1 {
		font-size: 32px;
	}

	.centered-buttons {
		transform: scale(0.75);
	}

	.arrow-down {
		transform: translate(-50%, 50%) rotate(45deg) scale(0.9);
	}


}

@media all and (max-width: 600px) {
	.nav-menu a {
		font-size: 18px;
		margin: 15px;
	}
}


@media all and (max-width: 480px) {

	.nav-menu {
		height: 100vh;
		width: 100%;
		background-color: white;
		position: fixed;
		z-index: 9999;
		top: 0;
		left: 0;
		display: flex;
		transition: all 0.3s ease-out;
		transform: translateY(-100vh);
	}


	.close {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		transition: all 0.5s ease-out;
	}

	.close a {
		font-size: 25px;
	}

	.open {
		display: flex;
		position: fixed;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		transition: all 0.5s ease-out;
		transform: translateY(0);
	}

	.open a {
		font-size: 25px;
	}

	.open-button span {
		display: block;
	}

	.about-us p {
		line-height: 1.5;
	}

	.activities-container {
		width: 90%;
		margin-bottom: px;
	}

	.activities-container:nth-child(3) {
		margin-bottom: 50px;
	}

	.activities {
		padding-top: 40px;
		margin-top: 40px;
	}

	.quote-section p{
	transform: scale(0.75);
}
	.gallery-section div {
		flex-basis: 100%;
	}

	.gallery-section {
		padding-top: 0;
		margin-top: 80px;
	}

	.contact {
		margin-top: 80px;
	}

	.contact-us {
		width: 90%;
		padding-top: 40px;
		padding-bottom: 40px;
	}
}

@media all and (max-width: 400px) {
	.open-button {
		top: 22px;
	}
}

@media all and (max-width: 362px) {
	.about-us {
		padding-left: 0;
		padding-right: 0;
	}

	.contact-us {
		padding: 20px;

	}

	.contact-us h2 {

		font-size: 25px;
	}

	.contact-us p {
		font-size: 15px;
		margin-top: 5px;
	}

	form label {
		font-size: 15px;
		margin-top: auto;
	}

	form input,
	textarea {
		padding: 5px;
		margin-bottom: 10px
	}

	form button {
		padding: 7px;
		width: 100px;
		margin-top: 10px;
	}

	.gm-style-pbt {
		font-size: 18px;
	}
}

@media all and (max-width: 321px) {
	.open-button {
		top: 18px;
	}
}

@media all and (width: 375px) and (height: 812px) {
	.open-button {
		top: 26px;
	}
}
